<div class="data-form">
    <form method="POST" action="<%=`/users/${user._id}/update?_method=PUT`%>">

        <h2>Muuta käyttäjän <%= user.name.nick %> tietoja:</h2>

        <p>
        <label for="inputNickName">Etunimi</label>
        <input type="text" name="nick" id="inputNickName" value="<%= user.name.nick %>" placeholder="Pelaajanimi">
        </p>
        <p>
        <label for="inputFirstName">Etunimi</label>
        <input type="text" name="first" id="inputFirstName" value="<%= user.name.first %>" placeholder="Etunimi">
        </p>

        <p>
        <label for="inputLastName">Sukunimi</label>
        <input type="text" name="last" id="inputLastName" value="<%= user.name.last %>" placeholder="Sukunimi">
        </p>

        <p>
        <label for="inputEmail">Sähköposti</label>
        <input type="email" name="email" id="inputEmail" value="<%= user.email %>" placeholder="Sähköposti">
        </p>

        <p>
        <label for="inputPassword">Salasana</label>
        <input type="text" name="password" id="inputPassword" value="<%= user.password %>" placeholder="Salasana">
        </p>

        <button type="submit">Päivitä</button>

    </form>
</div>